.navbar-side {
  background: black;
  height: 1024px;
  width: 117px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navbar-side ul {
  gap: 16px;
  display: flex;
  flex-direction: column;
}
.navbar-side p {
  padding-top: 32px;
  color: white;
}
.sidebar-main-container {
  display: flex;
}
.main-container {
  width: 100%;
}
