.profile-container {
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 64px;
  padding-right: 64px;
}
.header {
  text-align: left;
  margin-bottom: 48px;
}
.header h1 {
  font-size: 2.4em;
  margin-bottom: 24px;
}
.header h1 span {
  color: #ff2501;
}
.header h2 {
  font-size: 1em;
  font-weight: 400;
}
.main-content {
  height: 520px;
  display: grid;
  grid-template-columns: repeat(3, 1fr) 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "bar-chart bar-chart bar-chart sidecard"
    "line-chart radar-chart radial-bar-chart sidecard";
  gap: 10px;
}

.bar-chart {
  grid-area: bar-chart;
  background-color: #fbfbfb;
  padding: 20px;
  border-radius: 8px;
  height: 260px;
}

.line-chart {
  grid-area: line-chart;
  background-color: #fbfbfb;
  padding: 20px;
  border-radius: 8px;
}

.radar-chart {
  grid-area: radar-chart;
  background-color: #fbfbfb;
  padding: 20px;
  border-radius: 8px;
}

.radial-bar-chart {
  grid-area: radial-bar-chart;
  background-color: #fbfbfb;
  padding: 20px;
  border-radius: 8px;
}

.sidecard {
  grid-area: sidecard;
  border-radius: 8px;
  margin-left: 24px;
}
